*{box-sizing:border-box;margin:0;padding:0;}
main{align-items:center;margin:auto;}
body{background:#fff;font-size:15px;font-family:DIN;font-weight:400;}
.menu{background:#fdeec9;color:#000;width:100%;gap:150px;display:flex;justify-content:space-around;align-items:center;font-size:15px;font-family:DIN;font-weight:400;margin:0;padding:0;}
.menu .logo img{float:left;right:15%;}
.menu img{display:inline-flex;width:380px;height:70px;position:relative;object-fit:contain;justify-content:flex-start;padding:10px 0;}
.menu ul li a{padding:0 5px;}
.menu ul .carrito{display:flex;float:left;position:relative;width:25px;height:25px;color:#504947;justify-content:flex-start;bottom:5px;padding:0;}
.menu ul img{margin-right:4px;}
.menu .list-card{color:#504947;padding:5px 0;}
.nav-list{list-style-type:none;}
.nav-list .list-item,.list-card{display:inline-block;background:none;border:1px solid #fdeec9;padding:0 5px;}
.menu a{color:#000;text-decoration:none;}
.nav-list .list-item:hover{background:#fdeec9;background-color:#fdeec9;}
.menu-line{width:20px;height:3px;background-color:#FFF;margin-bottom:4px;}
.menu-reson{display:none;}

